<div class="login-page-container">
  {{> FormTitle text="Вход"}}

  <form class="login-form">
    <div class="login-form__content">
      {{> InputField type="text" name="login" placeholder="Логин" title="Логин" }}
      {{> InputField type="password" name="password" placeholder="Пароль" title="Пароль"}}
    </div>

    <div class="login-form__footer">
      {{> Button className="login-form__button" text="Авторизироваться"}}
      {{> Link url="" text="Нет аккаунта?"}}
    </div>
  </form>
</div>

