<div class="login-page-container">
  <h1 class="form-title">Вход</h1>

  <form action="" class="login-form">
    <div class="login-form__content">
      <input type="text" placeholder="Логин" name="login" class="input">
      <input type="password" placeholder="Пароль" name="password" class="input">
    </div>

    <div class="login-form__footer">
      <button type="submit" class="login-form__button button">Авторизироваться</button>
      <a href="#" class="link">Нет аккаунта?</a>
    </div>
  </form>
</div>

