@import '../../shared/styles/variables.scss';

.input {
  font-family: $font-body;
  font: $font-regular;

  border: none;
  border-bottom: 1px solid $input-underline-color;

  padding-top: 12px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;

  &::placeholder {
    color: $text-light-color;
  }

  &:focus {
    outline-color: $input-focus-outline-color;
  }

  &:hover {
    background-color: $input-hover-color;
  }
}
