@import '../../shared/styles/variables.scss';

.input {
  font-family: $font-body;
  font: $font-regular;

  border: none;
  border-bottom: 1px solid $input-underline-color;

  padding-top: 12px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;

  &::placeholder {
    color: $text-light-color;
  }

  &:focus {
    outline-color: $input-focus-outline-color;
  }

  &:hover {
    background-color: $input-hover-color;
  }

  &_validation-error {
    border-bottom: 1px solid $input-error-validate-color;

    &:focus {
      outline-color: $input-error-focus-outline-color;
    }
  }
}

input[type='file'] {
  border: none;

  & + label {
    display: none;
  }

  &::file-selector-button {
    font-family: $font-body;
    font: $font-regular;
    color: $input-load-file-text-color;
    text-decoration: underline;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
  }

  &:hover {
    &::file-selector-button {
      color: $input-load-file-text-color-hover;
    }
  }
}
