@import '../../shared/styles/variables.scss';

.messages {
  position: relative;
  padding-top: 19px;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 5px;

  overflow-y: auto;

  &__day {
    display: inline-block;
    position: sticky;
    top: 0.125rem;
    left: 50%;

    z-index: 5;

    padding: 7px;
    border-radius: 7px;

    text-align: center;
    color: $messages-day-color;
    background-color: $messages-day-bg-color;
  }
}
