@import '../../shared/styles/variables.scss';

.chat-page-main {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.chat-container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: minmax(320px, 415px) minmax(355px, 1fr);
  grid-template-rows: 100vh;

  background-color: $chat-right-bg-color;

  font: $font-regular;
}

.chat-left-container {
  background-color: $chat-right-header-bg-color;
  border-right: 2px solid $chat-border-color;
  border-left: 2px solid $chat-border-color;
}

.chat-header {
  border-bottom: 2px solid $chat-border-color;
  padding-left: 25px;
  padding-right: 25px;
  background-color: $chat-right-header-bg-color;
  height: 95px;
}

.chat-left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;

  padding-top: 10px;
  padding-bottom: 10px;

  &__profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.chat-left-content {
  padding-left: 15px;
  padding-right: 15px;
  height: calc(100vh - 95px);
  overflow-y: auto;
}

.chat-right-container {
  display: grid;
  grid-template-rows: 95px 1fr 70px;

  width: 100%;
  height: 100%;
}
