@import '../../shared/styles/variables.scss';

.chat-header-link {
  position: relative;

  font: $font-small;
  color: $text-color;     

  &::after {
    content: url("../../../public/icons/small-arrow.svg");
  
    position: absolute;   
    top: 1px;  
    right: -10px;    
  }

  &:hover {
    color: $link-hover-color;
  }

  &:hover:after {
    content: url("../../../public/icons/small-hover-arrow.svg");
  }
}
