{{> Navigation}}

<div class="profile">
  {{> ProfileCloseButton page="profile"}}
  {{> ProfileAvatar}}

  <form class="profile-content">
    {{> ProfileInput name="oldPassword"type="password" title="Старый пароль" placeholder="Иван" className="profile-item_border-green"}}
    {{> ProfileInput name="newPassword"type="password" title="Новый пароль" placeholder="Иванов" className="profile-item_border-green"}}
    {{> ProfileInput type="password" title="Повторите новый пароль" placeholder="pochta@yandex.ru" className="profile-item_border-green"}}
  
    {{> Button text="Сохранить" className="profile-data-button"}}
  </form>
</div>