<nav class="navigation">
  {{> Link url="" text="Логин" page="login"}}
  {{> Link url="" text="Регистрация" page="registration"}}
  {{> Link url="" text="Чаты" page="chat"}}
  {{> Link url="" text="Профиль" page="profile"}}
  {{> Link url="" text="Изменить данные профиля" page="profileData"}}
  {{> Link url="" text="Изменить пароль профиля" page="profilePassword"}}
  {{> Link url="" text="Ошибка 404" page="error400"}}
  {{> Link url="" text="Ошибка 500" page="error500"}}
</nav>
