<div class="chat-send-message">
  {{> ChatButton className="chat-button__add-file-btn"}}
  <input type="text" name="message" class="chat-send-message__input" placeholder="Сообщение">
  {{> ChatButton className="chat-button__send-message-btn"}}
</div>
