@import '../../shared/styles/variables.scss';

.close-profile-block {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 64px;

  background-color: $close-profile-block-bg-color;
  border-right: 2px solid $close-profile-block-border-color;

  &__button {
    width: 28px;
    height: 28px;

    background-color: $close-profile-btn-bg-color;
    background-image: url('../../../public/icons/back-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;

    border: none;
    border-radius: 100px;

    &:hover {
      cursor: pointer;
      background-color: $close-profile-btn-hover-color;
    }
  }
}