<main>
  {{> Navigation}}

  {{#> Error
      code="500" 
      text="Вы можете вернуться на страницу с чатами по кнопке ниже" 
      title="Мы уже фиксим!"
  }}
    {{> Button text="Назад к чатам" className="error__button" page="chat"}}
  {{/ Error}}
</main>
