<div class="profile-avatar">
  <div class="profile-avatar__container">
    <span class="profile-avatar__background"></span>
    <img src="../../../static/assets/img/profile-avatar.png" alt="Аватар пользователя" class="profile-avatar__img">
    <span class="profile-avatar__text">Поменять аватар</span>
  </div>
  <p class="profile-avatar__user-name">Иван</p>
</div>