@import './reset.scss';
@import '../src/shared/styles/variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font: $font-regular;
  background-color: $text-bgcolor;
  color: $text-color;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validation-error {
  font: $font-nano;
  line-height: 10px;
  color: $input-error-validate-color;
  margin-top: -5px;

  &_margin {
    margin-top: -10px;
  }
}

.submit-error {
  font: $font-small;
  line-height: 14px;
  color: $input-error-validate-color;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: $font-weight-bold;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0);
  scrollbar-gutter: stable;
}
