  <div class="chat-left-functions">
    <button class="chat-left-functions__button">Создать чат</button>
    
    <form class="chat-left-functions__search">
      <input type="search" class="chat-left-functions__search-input" placeholder="Поиск">
      <button class="chat-left-functions__search-button"></button>
    </form>
  </div>