@import '../../shared/styles/variables.scss';

.message {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 400px;
  min-width: 125px;

  margin-bottom: 10px;
  padding: 10px 15px 10px 15px;

  font: $font-small;
  line-height: 15px;
  text-align: left;

  background-color: $message-bg-color;
  border-radius: 0 15px 15px 15px;
  align-self: start;

  &_right {
    align-self: end;
    border-radius: 15px 15px 0 15px;

    background-color: $message-right-bg-color;
    color: $message-right-text-color;
  }

  &__time {
    align-self: flex-end;
    color: $message-left-time-color;
  }

  img {
    width: 100%;
    height: 100%;

    display: block;
    object-fit: cover;
  }
}

.message_right > span.message__time {
  color: $message-right-time-color;
}

