@import '../../shared/styles/variables.scss';

.message {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 400px;
  min-width: 125px;

  margin-bottom: 15px;
  padding: 10px 15px 10px 25px;

  font: $font-small;
  line-height: 15px;
  text-align: left;

  background-color: $message-bg-color;
  border-radius: 0 25px 25px 25px;

  &_right {
    float: right;
    border-radius: 25px 25px 0 25px;

    padding: 10px 25px 10px 15px;

    background-color: $message-right-bg-color;
    color: $message-right-text-color;
  }

  &__time {
    align-self: flex-end;
    color: $message-left-time-color;
  }
}

.message_right > span.message__time {
  color: $message-right-time-color;
}
